<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<mat-toolbar class="title-toolbar">
    <span style="color:rgb(255, 252, 252)">Главная</span>
   
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <span></span>

    <span style="color:rgb(255, 255, 255)">Анализ последних тренировок</span>
    <span></span>

    <span class="example-fill-remaining-space"></span>

    <span style="color:rgb(255, 255, 255)">Мой профиль</span>
  </mat-toolbar>

  <div class="image-container">
    <img src="assets/scale_1200.png" alt="Low brightness" class="background">
    <img src="assets/biomechlogo.png" alt="Biomechai" class="logo">
    <div class="logo-text">Демонстрационное приложение для проекта Samsung Innovation Campus</div>
  </div>
  <div class="image-container">
   <app-video></app-video>
